/**
 * 响应式页面
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
  width: 0;
}
[hidden] {
  display: none;
}
mark {
  background: #ff0;
  color: #333333;
}
figure {
  margin: 1em 40px 1em 40px;
}
html {
  font-size: 12px;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Microsoft YaHei", tahoma, "\5b8b\4f53", arial, sans-serif;
}
body {
  font-size: 12px;
  line-height: 1.5;
  color: #34495e;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
body {
  margin: 0;
  color: #333333;
  background-color: #ffffff;
  line-height: 1.5;
}
a {
  color: #0088cc;
  text-decoration: none;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
a:hover {
  color: #005580;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
pre {
  margin: 1em 0;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
ul {
  list-style: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
form {
  margin: 0;
}
fieldset {
  border: 2px groove #f0f0f0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  margin: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
button,
input,
select,
textarea {
  margin: 0;
  vertical-align: middle;
}
textarea {
  vertical-align: top;
  overflow-x: visible;
  overflow-y: visible;
  resize: none;
}
button {
  padding: 0px 6px;
  _padding: 0;
}
button,
input {
  line-height: normal;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.u-wh--a {
  width: auto;
}
.u-wh--per {
  width: 100%;
}
.u-wh--per-50 {
  width: 50%;
}
.u-wh--200 {
  width: 200px;
}
.u-wh--100 {
  width: 100px;
}
.u-wh--60 {
  width: 60px;
}
.u-wh-min--100 {
  min-width: 100px;
}
.u-ht--all {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /*ie6不识别min-height*/
}
.u-ht--per {
  height: 100%;
}
.u-ht--100 {
  height: 100px;
}
.u-o--h200 {
  overflow-y: auto;
  height: 200px;
}
.u-o--h400 {
  overflow-y: auto;
  height: 400px;
}
.u-of--y {
  overflow-y: auto;
}
.u-l--0 {
  left: 0;
}
.u-t--0 {
  top: 0;
}
.u-r--0 {
  right: 0;
}
.u-b--0 {
  bottom: 0;
}
.u-l-h--24 {
  line-height: 1.8em;
}
.u-mlr--a {
  margin-left: auto;
  margin-right: auto;
}
.u-m--0 {
  margin: 0px;
}
.c-box_content_item .u-m--0 {
  margin: 0px;
}
.u-mt--0 {
  margin-top: 0px !important;
}
.u-mr--0 {
  margin-right: 0px !important;
}
.u-mb--0 {
  margin-bottom: 0px !important;
}
.u-ml--0 {
  margin-left: 0px !important;
}
.u-mt--5 {
  margin-top: 5px;
}
.c-box_content_item .u-mt--5 {
  margin-top: 5px;
}
.u-mr--5 {
  margin-right: 5px;
}
.c-box_content_item .u-mr--5 {
  margin-right: 5px;
}
.u-mb--5 {
  margin-bottom: 5px;
}
.c-box_content_item .u-mb--5 {
  margin-bottom: 5px;
}
.u-ml--5 {
  margin-left: 5px;
}
.c-box_content_item .u-ml--5 {
  margin-left: 5px;
}
.u-mt--10 {
  margin-top: 10px;
}
.c-box_content_item .u-mt--10 {
  margin-top: 10px;
}
.u-mr--10 {
  margin-right: 10px;
}
.c-box_content_item .u-mr--10 {
  margin-right: 10px;
}
.u-mb--10 {
  margin-bottom: 10px;
}
.c-box_content_item .u-mb--10 {
  margin-bottom: 10px;
}
.u-ml--10 {
  margin-left: 10px;
}
.c-box_content_item .u-ml--10 {
  margin-left: 10px;
}
.u-mt--15 {
  margin-top: 15px;
}
.c-box_content_item .u-mt--15 {
  margin-top: 15px;
}
.u-mr--15 {
  margin-right: 15px;
}
.c-box_content_item .u-mr--15 {
  margin-right: 15px;
}
.u-mb--15 {
  margin-bottom: 15px;
}
.c-box_content_item .u-mb--15 {
  margin-bottom: 15px;
}
.u-ml--15 {
  margin-left: 15px;
}
.c-box_content_item .u-ml--15 {
  margin-left: 15px;
}
.u-mt--20 {
  margin-top: 20px;
}
.c-box_content_item .u-mt--20 {
  margin-top: 20px;
}
.u-mr--20 {
  margin-right: 20px;
}
.c-box_content_item .u-mr--20 {
  margin-right: 20px;
}
.u-mb--20 {
  margin-bottom: 20px;
}
.c-box_content_item .u-mb--20 {
  margin-bottom: 20px;
}
.u-ml--20 {
  margin-left: 20px;
}
.c-box_content_item .u-ml--20 {
  margin-left: 20px;
}
.u-mlr---15 {
  margin-left: -15px;
  margin-right: -15px;
}
.c-box_content_item .u-mlr---15 {
  margin-left: -15px;
  margin-right: -15px;
}
.u-mb---10 {
  margin-bottom: -10px;
}
.u-p--0 {
  padding: 0;
}
td.u-p--0 {
  padding: 0 !important;
}
.u-p--10 {
  padding: 10px;
}
.u-pt--0 {
  padding-top: 0px;
}
.u-pr--0 {
  padding-right: 0px;
}
.u-pb--0 {
  padding-bottom: 0px;
}
.u-pl--0 {
  padding-left: 0px;
}
.u-pt--5 {
  padding-top: 5px;
}
.u-pr--5 {
  padding-right: 5px;
}
.u-pb--5 {
  padding-bottom: 5px;
}
.u-pl--5 {
  padding-left: 5px;
}
.u-pt--10 {
  padding-top: 10px;
}
.u-pr--10 {
  padding-right: 10px;
}
.u-pb--10 {
  padding-bottom: 10px;
}
.u-pl--15 {
  padding-left: 15px;
}
.u-pt--15 {
  padding-top: 15px;
}
.u-pr--15 {
  padding-right: 15px;
}
.u-pb--15 {
  padding-bottom: 15px;
}
.u-pl--15 {
  padding-left: 15px;
}
.u-pt--20 {
  padding-top: 20px;
}
.u-pr--20 {
  padding-right: 20px;
}
.u-pb--20 {
  padding-bottom: 20px;
}
.u-pl--20 {
  padding-left: 20px;
}
.u-pt--30 {
  padding-top: 30px;
}
.u-pt--40 {
  padding-top: 40px;
}
.u-b-rad--0 {
  border-radius: 0px;
}
.u-b-rad--3 {
  border-radius: 3px;
}
.u-b-rad--5 {
  border-radius: 5px;
}
.u-b--n {
  border: none !important;
}
.u-bb--s {
  border-bottom: 1px solid #dddddd;
}
.u-bb--d {
  border-bottom: 1px dashed #dddddd;
}
.u-bt--s {
  border-top: 1px solid #dddddd;
}
.u-bt--d {
  border-top: 1px dashed #dddddd;
}
.u-f--n {
  float: none;
}
.u-f--l {
  float: left;
}
.u-f--r {
  float: right;
}
.u-clearfix:before,
.u-clearfix:after {
  content: " ";
  display: table;
}
.u-clearfix:after {
  clear: both;
}
.u-c--red,
.u-text-danger {
  color: #D9534F;
}
.u-c--red a,
.u-text-danger a {
  color: #D9534F;
}
.u-c--green,
.u-text-success {
  color: #5CB85C;
}
.u-c--green a,
.u-text-success a {
  color: #5CB85C;
}
.u-c--grey,
.u-text-default {
  color: #B2B4B7;
}
.u-c--grey a,
.u-text-default a {
  color: #B2B4B7;
}
.u-c--yellow,
.u-text-warning {
  color: #F0AD4E;
}
.u-c--yellow a,
.u-text-warning a {
  color: #F0AD4E;
}
.u-c--primary,
.u-text-primary {
  color: #337AB7;
}
.u-c--primary a,
.u-text-primary a {
  color: #337AB7;
}
.u-c--blue {
  color: #428BCA;
}
.u-c--blue a {
  color: #428BCA;
}
.u-bc--yellow {
  background-color: #FFFEE8;
}
.u-bg-c--t {
  background-color: transparent !important;
}
.u-bg-c--bluedark {
  background-color: #1D365D;
}
.u-bg-c--greydark {
  background-color: #272822;
}
.u-ff--m {
  font-family: "Microsoft Yahei";
}
.u-ff--s {
  font-family: "SimSun";
}
.u-ff--a {
  font-family: "Arial";
}
.u-fw--b {
  font-weight: bold;
}
.u-fs--14 {
  font-size: 14px;
}
.u-fs--16 {
  font-size: 16px;
}
.u-fs--18 {
  font-size: 18px;
}
.u-fs--20 {
  font-size: 20px;
}
.u-fs--24 {
  font-size: 24px;
}
.u-fs--30 {
  font-size: 30px;
}
.u-d--b {
  display: block;
}
.u-d--n {
  display: none;
}
.u-d--i {
  display: inline;
}
.u-d--ib {
  display: inline-block;
}
.u-d--table {
  display: table;
}
.u-d--table-i {
  display: inline-table;
}
.u-d--colgroup {
  display: table-column-group;
}
.u-d--col {
  display: table-column;
}
.u-d--caption {
  display: table-caption;
}
.u-d--thead {
  display: table-header-group;
}
.u-d--tbody {
  display: table-row-group;
}
.u-d--footer {
  display: table-footer-group;
}
.u-d--tr {
  display: table-row;
}
.u-d--td {
  display: table-cell;
}
.u-l-s--n {
  list-style: none;
  padding-left: 0;
}
.u-td--n {
  text-decoration: none;
}
.u-td--u {
  text-decoration: underline;
}
.u-td--o {
  text-decoration: overline;
}
.u-td--l {
  text-decoration: line-through;
}
.u-ta--c {
  text-align: center;
}
.u-ta--l {
  text-align: left;
}
.u-ta--r {
  text-align: right;
}
.u-ta--j {
  text-align: justify;
}
.u-va--t {
  vertical-align: top !important;
}
.u-va--m {
  vertical-align: middle !important;
}
.u-va--b {
  vertical-align: bottom !important;
}
.u-z--9999 {
  z-index: 9999;
}
img {
  vertical-align: middle;
  vertical-align: middle !important;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}
.u-m-lr---15 {
  margin-left: -15px;
  margin-right: -15px;
}
.u-bb {
  border-bottom: 1px solid #dddddd;
}
.u-ts--light,
.u-t-s--light {
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4);
}
.u-ts--dark,
.u-t-s--dark {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.u-to--e,
.u-t-o,
.u-text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.input-group-addon:not(:first-child):not(:last-child) {
  border-left: 0 solid #dddddd;
  border-right: 0 solid #dddddd;
}
.u-text--hidden {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.u-text--hidden-img {
  position: relative;
  z-index: 0;
}
input[type="radio"],
input[type="checkbox"] {
  margin-top: 2px;
}
.btn {
  border-radius: 0px;
}
.u-fullscreen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #ffffff;
}
.c-form-horizontal .checkbox-inline,
.c-form-horizontal .radio-inline {
  height: 34px;
  line-height: 1.5;
}
.c-form-horizontal .checkbox-inline input,
.c-form-horizontal .radio-inline input {
  margin-top: 3px;
}
.radio-inline label,
.checkbox-inline label {
  font-weight: normal;
}
.u-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: .65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
a.u-disabled {
  color: #555555;
  opacity: .6;
  filter: alpha(opacity=6);
}
.form-control {
  border-radius: 0;
}
.u-bg--n-i {
  background-color: transparent !important;
}
table > thead > tr > th {
  vertical-align: middle;
  vertical-align: middle !important;
}
.input-group-addon {
  border-radius: 0;
}
.p-table-vegetables thead > tr > th:nth-child(2),
.p-table-vegetables tbody > tr > td:nth-child(2).active {
  background-color: #0A9DDA;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(3),
.p-table-vegetables tbody > tr > td:nth-child(3).active {
  background-color: #4CC1F1;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(4),
.p-table-vegetables tbody > tr > td:nth-child(4).active {
  background-color: #C0DB80;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(5),
.p-table-vegetables tbody > tr > td:nth-child(5).active {
  background-color: #95CB7F;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(6),
.p-table-vegetables tbody > tr > td:nth-child(6).active {
  background-color: #61B74A;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(7),
.p-table-vegetables tbody > tr > td:nth-child(7).active {
  background-color: #F08C63;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(8),
.p-table-vegetables tbody > tr > td:nth-child(8).active {
  background-color: #E94D26;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(9),
.p-table-vegetables tbody > tr > td:nth-child(9).active {
  background-color: #E40214;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(10),
.p-table-vegetables tbody > tr > td:nth-child(10).active {
  background-color: #F8B51C;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(11),
.p-table-vegetables tbody > tr > td:nth-child(11).active {
  background-color: #F39600;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(12),
.p-table-vegetables tbody > tr > td:nth-child(12).active {
  background-color: #EE7833;
  color: #fff;
}
.p-table-vegetables thead > tr > th:nth-child(13),
.p-table-vegetables tbody > tr > td:nth-child(13).active {
  background-color: #9FD8F6;
  color: #fff;
}
.u-wrap-ib {
  font-size: 0px;
}
.u-wrap-ib .u-wrap-ib_item {
  letter-spacing: normal;
  word-spacing: normal;
  display: inline-block;
  *display: inline;
  zoom: 1;
}
.u-wrap-ib_item.btn {
  margin-left: 4px;
}
.u-wrap-ib_item.btn:first-child {
  margin-left: 0px;
}
.u-link-number {
  text-decoration: underline;
  padding: 0 5px;
  font-size: 14px;
  font-weight: bold;
}
.dropdown-menu {
  font-size: 12px;
}
.dl-horizontal dt,
.dl-horizontal dd {
  margin-bottom: 5px;
}
.dl-horizontal.u-dl-ta--c dt {
  text-align: center;
}
.dl-horizontal.u-dl-wh--100 dt {
  width: 70px;
}
.dl-horizontal.u-dl-wh--100 dd {
  margin-left: 80px;
}
